@model DomainModel.Models.Korting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Korting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KortingsCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KortingsCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kortingsprijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kortingsprijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EindDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EindDatum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KortingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
