@model IEnumerable<DomainModel.Models.Korting>

@{
    ViewBag.Title = "Index";
}

<h2>Kortingen</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KortingsCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kortingsprijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EindDatum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KortingsCode)
        </td>
        <td>
            €@Html.DisplayFor(modelItem => item.Kortingsprijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EindDatum)
        </td>
        <td>
            @Html.ActionLink("Wijzigen", "Edit", new { id = item.KortingId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id = item.KortingId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>

@Html.ActionLink("Nieuwe korting", "Create", null, new { @class = "btn btn-default" })
