@model Prog5Tentamen.Models.Zaal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zaal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zitplaatsen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zitplaatsen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZaalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
