@model DomainModel.Models.Reservering

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservering</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Totaalprijs)
        </dt>

        <dd>
            €@Html.DisplayFor(model => model.Totaalprijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factuuradres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factuuradres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bankrekeningnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bankrekeningnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KortingsCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KortingsCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.ReserveringId }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Annuleren", "Index", null, new { @class = "btn btn-default" })
</p>
