@model PagedList.IPagedList<DomainModel.Models.Reservering>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Reserveringen</h2>
@using ( Html.BeginForm( "Index", "Film", FormMethod.Get ) ) {
    <div class="input-group input-group-lg">
        @Html.TextBox( "SearchString", ViewBag.CurrentFilter as string, null, new { placeholder = "Zoeken in films", @class = "form-control" } )
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
}
<br />

<table class="table">
    <tr>
        <th>
            @Html.ActionLink( "Naam", "Index", new { sortOrder = ViewBag.NameSortParm } )
        </th>
        <th>
            Totaalprijs
        </th>
        <th>
            Factuuradres
        </th>
        <th>
            Bankrekeningnummer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Film.Naam)
        </td>
        <td>
            €@Html.DisplayFor(modelItem => item.Totaalprijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factuuradres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bankrekeningnummer)
        </td>        
        <td>
            @Html.ActionLink("Wijzigen", "Edit", new { id = item.ReserveringId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReserveringId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id = item.ReserveringId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager( Model, page => Url.Action( "Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter } ) )
