@model IEnumerable<DomainModel.Models.Reservering>

@{
    ViewBag.Title = "Index";
}

<h2>Reserveringen</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Film.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Totaalprijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factuuradres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bankrekeningnummer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Film.Naam)
        </td>
        <td>
            €@Html.DisplayFor(modelItem => item.Totaalprijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factuuradres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bankrekeningnummer)
        </td>        
        <td>
            @Html.ActionLink("Wijzigen", "Edit", new { id = item.ReserveringId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReserveringId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id = item.ReserveringId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>